---
layout: index
title: "Fredy's Blog"
---


<div class="articles-wrapper">
  <div class="article_style-1">
    <a class="left-1" href="{{ site.posts[0].url }}">
      <img class="show-1" src="{{ site.posts[0].image }}" aria-labelledby="article-1-link-1" />
      <img class="hidden-1" src="{{ site.posts[1].image }}" aria-labelledby="article-1-link-2" />
      <img class="hidden-1" src="{{ site.posts[2].image }}" aria-labelledby="article-1-link-3" />
    </a>
    <div class="right-1">
      <article class="a-block" id="art-1" onmouseenter="handle_img_switch_1(this)">
        <a class="a-overlay" href="{{ site.posts[0].url }}" aria-labelledby="article-1-link-1"
          aria-describedby="article-1-link-1" aria-label="Article link"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[0].url }}" id="article-1-link-1"><span>{{
                  site.posts[0].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[0].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      <article class="a-block" id="art-1" onmouseenter="handle_img_switch_1(this)">
        <a class="a-overlay" href="{{ site.posts[1].url }}" aria-labelledby="article-1-link-2"
          aria-describedby="article-1-link-2" aria-label="Article link"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[1].url }}" id="article-1-link-2"><span>{{
                  site.posts[1].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[1].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
      </article>
      <article class="a-block" id="art-1" onmouseenter="handle_img_switch_1(this)">
        <a class="a-overlay" href="{{ site.posts[2].url }}" aria-labelledby="article-1-link-3"
          aria-describedby="article-1-link-3" aria-label="Article link"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-1-link-3"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
    </div>
  </div>

  <script>
    function handle_img_switch_1(el) {
      const img = document.querySelectorAll('a.left-1 > img');
      let arr = Array.from(img);

      arr.forEach(function (item, index) {
        if (item.classList.contains('show-1')) {
          item.classList.remove('show-1');
          item.classList.add('hidden-1');
        }
      });
      const aria = el.firstElementChild.getAttribute('aria-labelledby')
      const show = document.querySelector(`a.left-1 > img[aria-labelledby="${aria}"]`);
      show.parentElement.setAttribute('href', el.firstElementChild.getAttribute('href'));
      show.classList.remove('hidden-1');
      show.classList.add('show-1');
    }
  </script>
  {% if site.posts[4] %}
  <div class="article_style-2">
    <article class="left-2 a-block"><a class="a-overlay" href="{{ site.posts[4].url }}"
        aria-labelledby="article-2-link-1" aria-label="Article link"></a>
      <div class="left-wrapper-2">
        <div class="left-image-thumbnail-2 a-inner"><img src="{{ site.posts[4].image }}"
            alt="Article image thumbnail" /></div>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[4].url }}" id="article-2-link-1"><span>{{
                  site.posts[4].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[4].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
    {% endif %}

    {% if site.posts[3] %}
    <article class="left-2 a-block"><a class="a-overlay" href="{{ site.posts[3].url }}"
        aria-labelledby="article-2-link-2" aria-label="Article link"></a>
      <div class="left-wrapper-2">
        <div class="left-image-thumbnail-2 a-inner"><img src="{{ site.posts[3].image }}"
            alt="Article image thumbnail" /></div>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[3].url }}" id="article-2-link-2"><span>{{
                  site.posts[3].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[3].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
    {% endif %}

    {% if site.posts[2] %}
    <article class="left-2 a-block"><a class="a-overlay" href="{{ site.posts[2].url }}"
        aria-labelledby="article-2-link-3" aria-label="Article link"></a>
      <div class="left-wrapper-2">
        <div class="left-image-thumbnail-2 a-inner"><img src="{{ site.posts[2].image }}"
            alt="Article image thumbnail" /></div>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-2-link-3"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
  </div>
  {% endif %}

  <div class="article_style-3">
    <div class="left-3">
      {% if site.posts[2] %}
      <article class="a-block"><a class="a-overlay" href="{{ site.posts[2].url }}" aria-labelledby="article-3-link-1"
          aria-label="Article link"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-3-link-1"><span>{{
                  site.posts[2].title | truncate: 50, '...'}}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      {% endif %}

      {% if site.posts[2] %}
      <article class="a-block"><a class="a-overlay" href="{{ site.posts[2].url }}" aria-labelledby="article-3-link-2"
          aria-label="Article link"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-3-link-2"><span>{{
                  site.posts[2].title | truncate: 50, '...'}}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      {% endif %}

      {% if site.posts[2] %}
      <article class="a-block"><a class="a-overlay" href="{{ site.posts[2].url }}" aria-labelledby="article-3-link-3"
          aria-label="Article link"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-3-link-3"><span>{{
                  site.posts[2].title | truncate: 50, '...'}}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      {% endif %}
    </div>


    <div class="right-3" onclick="handleModal(this)">
      <div class="image-wrapper"><img id="myImg" src="assets/images/meme1.webp" alt="Meme of the day" />
        <div class="modal" id="myModal"><span class="close-2">&times;</span><img class="modal-content" id="img01" />
        </div>
      </div>
      <div class="text-wrapper">
        <h3>meme of the day</h3>
      </div>
    </div>
    <script>
      // Get the modal
      var modal = document.getElementById("myModal");

      // Get the image and insert it inside the modal - use its "alt" text as a caption
      var img = document.getElementById("myImg");
      var modalImg = document.getElementById("img01");
      var captionText = document.getElementById("caption");
      var span = document.getElementsByClassName("close-2")[0];

      function handleModal() {
        if (!modal.style.display || modal.style.display === "none") {
          modal.style.display = "block";
        } else {
          modal.style.display = "none";
        }
        modalImg.src = img.src;
      }
    </script>
  </div>

  <div class="article_style-2">

    {% if site.posts[2] %}
    <article class="left-2 a-block"><a class="a-overlay" href="{{ site.posts[2].url }}"
        aria-labelledby="article-3-a-link-1" aria-label="Article link"></a>
      <div class="left-wrapper-2">
        <div class="left-image-thumbnail-2 a-inner"><img src="{{ site.posts[2].image }}"
            alt="Article image thumbnail" /></div>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-3-a-link-1"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
    {% endif %}

    {% if site.posts[2] %}
    <article class="left-2 a-block"><a class="a-overlay" href="{{ site.posts[2].url }}"
        aria-labelledby="article-3-a-link-2" aria-label="Article link"></a>
      <div class="left-wrapper-2">
        <div class="left-image-thumbnail-2 a-inner"><img src="{{ site.posts[2].image }}"
            alt="Article image thumbnail" /></div>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-3-a-link-2"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
    {% endif %}

    {% if site.posts[2] %}
    <article class="left-2 a-block"><a class="a-overlay" href="{{ site.posts[2].url }}"
        aria-labelledby="article-3-a-link-3" aria-label="Article link"></a>
      <div class="left-wrapper-2">
        <div class="left-image-thumbnail-2 a-inner"><img src="{{ site.posts[2].image }}"
            alt="Article image thumbnail" /></div>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-3-a-link-3"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
    {% endif %}
  </div>

  <div class="article_style-4">
    {% if site.posts[2] %}
    <article class="left-4 a-block"><a class="a-overlay" href="{{ site.posts[2].url }}" aria-label="Article link"></a>
      <div class="image-wrapper-4 a-inner"><img src="{{ site.posts[2].image }}" alt="Article thumbnail" /></div>
      <div class="container-4">
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }} id=" article-4-link-undefined"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
    {% endif %}

    <div class="right-4">
      {% if site.posts[2] %}
      <article class="a-block"><a class="a-overlay" href="{{ site.posts[2].url }}"
          aria-labelledby="article-4-link-1"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-4-link-1"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      {% endif %}
      {% if site.posts[2] %}
      <article class="a-block"><a class="a-overlay" href="{{ site.posts[2].url }}"
          aria-labelledby="article-4-link-2"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-4-link-2"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      {% endif %}
      {% if site.posts[2] %}
      <article class="a-block"><a class="a-overlay" href="{{ site.posts[2].url }}"
          aria-labelledby="article-4-link-3"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-4-link-3"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      {% endif %}
    </div>
  </div>
  <div class="article_style-2">
      {% if site.posts[2] %}
    <article class="left-2 a-block"><a class="a-overlay" href="{{ site.posts[2].url }}"
        aria-labelledby="article-4-a-link-1" aria-label="Article link"></a>
      <div class="left-wrapper-2">
        <div class="left-image-thumbnail-2 a-inner"><img src="{{ site.posts[2].image }}"
            alt="Article image thumbnail" /></div>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-4-a-link-1"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
    </article>
      {% endif %}
      {% if site.posts[2] %}
    <article class="left-2 a-block"><a class="a-overlay" href="{{ site.posts[2].url }}"
        aria-labelledby="article-4-a-link-2" aria-label="Article link"></a>
      <div class="left-wrapper-2">
        <div class="left-image-thumbnail-2 a-inner"><img src="{{ site.posts[2].image }}"
            alt="Article image thumbnail" /></div>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-4-a-link-2"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
      {% endif %}
      {% if site.posts[2] %}
    <article class="left-2 a-block"><a class="a-overlay" href="{{ site.posts[2].url }}"
        aria-labelledby="article-4-a-link-3" aria-label="Article link"></a>
      <div class="left-wrapper-2">
        <div class="left-image-thumbnail-2 a-inner"><img src="{{ site.posts[2].image }}"
            alt="Article image thumbnail" /></div>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-4-a-link-3"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
      {% endif %}
  </div>

  <div class="article_style-5">
      {% if site.posts[2] %}
    <article class="left-5 a-block"><a class="a-overlay" href="{{ site.posts[2].url }}" aria-label="Article link"></a>
      <div class="image-wrapper-5 a-inner"><img src="{{ site.posts[2].image }}" alt="Article Thumbnail" /></div>
      <div class="container-5">
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-5-link-undefined"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </article>
      {% endif %}
    <div class="right-5">
      {% if site.posts[2] %}
      <article class="a-block"><a class="a-overlay" href="{{ site.posts[2].url }}" aria-labelledby="article-5-link-1"
          aria-label="Article link"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-5-link-1"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      {% endif %}
      {% if site.posts[2] %}
      <article class="a-block"><a class="a-overlay" href="{{ site.posts[2].url }}" aria-labelledby="article-5-link-2"
          aria-label="Article link"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-5-link-2"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      {% endif %}
      {% if site.posts[2] %}
      <article class="a-block"><a class="a-overlay" href="{{ site.posts[2].url }}" aria-labelledby="article-5-link-3"
          aria-label="Article link"></a>
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-5-link-3"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </article>
      {% endif %}
    </div>
  </div>

  <div class="article_style-6">
      {% if site.posts[2] %}
    <article class="a-block"><a class="a-overlay" href="{{ site.posts[2].url }}" aria-labelledby="article-6-link-1"
        aria-label="Article link"></a>
      <div class="left-6">
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-6-link-1"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="right-6 a-inner"><img src="{{ site.posts[2].image }}" alt="Article thumbnail" /></div>
    </article>
      {% endif %}
      {% if site.posts[2] %}
    <article class="a-block"><a class="a-overlay" href="{{ site.posts[2].url }}" aria-labelledby="article-6-link-2"
        aria-label="Article link"></a>
      <div class="left-6">
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-6-link-2"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="right-6 a-inner"><img src="{{ site.posts[2].image }}" alt="Article thumbnail" /></div>
    </article>
      {% endif %}
      {% if site.posts[2] %}
    <article class="a-block"><a class="a-overlay" href="{{ site.posts[2].url }}" aria-labelledby="article-6-link-3"
        aria-label="Article link"></a>
      <div class="left-6">
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-6-link-3"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="right-6 a-inner"><img src="{{ site.posts[2].image }}" alt="Article thumbnail" /></div>
    </article>
      {% endif %}
      {% if site.posts[2] %}
    <article class="a-block"><a class="a-overlay" href="{{ site.posts[2].url }}" aria-labelledby="article-6-link-4"
        aria-label="Article link"></a>
      <div class="left-6">
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-6-link-4"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="right-6 a-inner"><img src="{{ site.posts[2].image }}" alt="Article thumbnail" /></div>
    </article>
      {% endif %}
      {% if site.posts[2] %}
    <article class="a-block"><a class="a-overlay" href="{{ site.posts[2].url }}" aria-labelledby="article-6-link-5"
        aria-label="Article link"></a>
      <div class="left-6">
        <div class="article-right-1">
          <div class="right-title-1">
            <h3 class="h3-article-1 a-inner"><a href="{{ site.posts[2].url }}" id="article-6-link-5"><span>{{
                  site.posts[2].title }}</span></a></h3>
          </div>
          <div class="right-tags-1 a-inner">
            {% for tag in site.posts[2].tags %}
            <a class="tags-1" href="{{ site.baseurl }}tag/{{tag}} ">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="right-6 a-inner"><img src="{{ site.posts[2].image }}" alt="Article thumbnail" /></div>
    </article>
      {% endif %}
  </div>
</div>