<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css"/>

<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/assets/site.webmanifest">

<link rel="stylesheet" href="{{ site.baseurl }}assets/css/styles.css">
<link rel="stylesheet" href="{{ site.baseurl }}assets/css/monokai.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<meta name="theme-color" content="#000" media="(prefers-color-scheme: dark)">
<meta name="theme-color" content="#FFF" media="(prefers-color-scheme: light)">

{% feed_meta %}
<noscript>Javascript is disabled which is ok, but some features may not work properly.</noscript>
<title>{{ page.title }}</title>
<script>
  // This code prevents the “flash of incorrect theme” (FOIT).
  let themeOverride = localStorage.getItem("theme");
  
  if (
    !themeOverride &&
    window.matchMedia("(prefers-color-scheme: dark)").matches
  )
    themeOverride = "dark";
  if (!themeOverride) themeOverride = "light";
  
  document.documentElement.setAttribute("theme", themeOverride);
</script>